@font-face {
    font-family: 'RunescapeUF';
    src: url('osrs/runescape_bold.ttf') format('truetype');
}

body {
    background-image: url("osrs/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'RunescapeUF', monospace;
    color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.menu-container {
    background: #2a2a2a;
    padding: 20px;
    width: 55vw;
    height: 100vh;
    overflow-y: auto;
}