@font-face {
    font-family: 'RunescapeUF';
    src: url('osrs/runescape_bold.ttf') format('truetype');
}

h1, h2, h3, label, button, input, select, div, p {
    font-family: 'RuneScapeUF', sans-serif;
}


body {
    background-image: url("osrs/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'RunescapeUF', monospace;
    color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.menu-container {
    background: #2a2a2a;
    padding: 20px;
    width: 55vw;
    height: 92vh;
    overflow-y: auto;
    border: 25px solid transparent;
    border-image: url("osrs/stonebricks.png") 30 round;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    text-align: center;
    font-size: 18px;
}

.form-group input,
.form-group select {
    width: 70%;
    padding: 6px;
    font-size: 16px;
    text-align: center;
}
button {
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.addButton {
    background-color: #2c5e2e;
}

.searchButton {
    background-color: #4a3929;
}

.removeButton {
    background-color: #4c1c1c;
}

.sortName, .sortRarity, .sortPower, .filterType {
    background-color: #4c487b;
}